* {
    margin: 0;
    padding: 0;
    text-align: center;
    background: white;
}

h2 {
    width: 100%;
    background-color: #2c3e50;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 50px;
    margin: 10px 0;
    font-size: 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.choices {
    display: flex;
    justify-content: center;
    margin-top: 60px;
    height: 200px;
    width: 100%;

}

.choice img {
    height: 200px;
    margin: 0 40px;
    border-radius: 50%;
    border: 5px solid black;
    cursor: pointer;
   

}
.choice{
    transition: transform 0.3s;
}
@keyframes pop{
    0%{
        transform: scale(0.5);
    }
    50%{
        transform: scale(0.5,1);
    }
    100%{
        transform: scale(0.5);
    }
}
.choice.clicked{
    animation: pop 0.35s ease;
}

.userscore {
    font-size: 1.5rem;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 450px;
    margin-left: 450px;
    height: 40px;
    border: 5px solid white;
    border-radius: 10px;
    color: white;
}

.computerscore {
    font-size: 1.5rem;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    width: 450px;
    margin-left: 450px;
    height: 40px;
    border: 5px solid white;
    border-radius: 10px;
    color: white;
}

button {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 20px 0;
    background: black;
    color: white;
    font-size: 1.5rem;
    border-radius: 20px;
    height: 50px;
    width: 250px;
}

.choice img:hover {
    opacity: 80%;
    border: 5px solid black;
}

#user-img {
    border-radius: 50%;
    margin: 0;
    margin: 20px 20px;

}

#computer-img {
    border-radius: 50%;
    margin: 0;
    margin: 20px 20px;

}

#userchoices {
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;

}

#computerchoices {
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;

}

#player-score,
#computer-score,
.userscore,
.computerscore {
    background-color: #2c3e50;
}

#results,
#userchoices,
#computerchoices {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 50px;
    padding-left: 50px;
   font-weight: 900;
}
#reset{
    display: block;
    margin: 0 545px;
    width: 250px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: black;
    color: white;
    font-size: 1.5rem;
    border-radius: 20px;
}

@media (max-width: 480px) {
    h2 {
        font-size: 1.4rem;
        height: 40px;
    }

    .choices {
        flex-direction: column;
        margin-top: 30px;
        height: auto;
    }

    .choice img {
        height: 120px;
        margin: 10px 0;
    }

    .userscore,
    .computerscore {
        width: 80%;
        margin-left: 10%;
        font-size: 1.1rem;
        height: 30px;
        margin-top: 0;
    }

    #results {
        flex-direction: column;
        padding: 0;
        margin: 0px 0;
    }

    #userchoices, #computerchoices {
        font-size: 1.2rem;
        padding: 0;
        margin: 1px 0;
    }

    button,
    #reset {
        width: 70%;
        margin: 5px auto;
        font-size: 1.2rem;
        height: 45px;
    }
}

 /* @media (max-width: 780px) {
    h2{
        font-size: 1.8rem;
        height: 80px;
        display: flex;
        text-align: center;
        align-items: center;
    }
    .choices{
        flex-direction: row;
        margin:20px 0;
    }
    .choice img {
        height: 120px;
        margin: 20px 40px;
    }
    .userscore,
    .computerscore {
        width: 70%;
        margin-left: 15%;
        font-size: 1.3rem;
        height: 35px;
    }
     button,
    #reset {
        width: 50%;
        margin: 20px auto;
        font-size: 1.5rem;
        height: 45px;
    }

}  */
